body{
	background:url('http://i.imgur.com/50TOBSI.jpg');
	background-size: cover;
	background-position: 23% 20%;
	background-attachment: fixed;
	color: #FFF;
	text-align:justify;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	font-family: "Raleway", "Verdana", sans-serif;
	font-size: 16px
}

h2{
	font-size:1.8em;
	font-weight: normal;
}

h3{
	font-size:1.4em;
	font-weight: normal;
}

a{
	text-decoration: none;
	color: #FFF;
}

nav ul, footer{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

header, nav ul li, section, aside, footer, #desc{
	border : solid 2px #FFF;	
	background-color: rgba(166,166,166, 0.95);
	border-radius: 5px;
}

nav ul li{
	list-style-type:none;
	margin-right: 10px;
	margin-bottom:10px;	
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;	
	font-size: 15px;
	min-width:80px;
	text-align:center;
}

nav ul{
	padding-left:10px;
}

header, section, #desc{
	display: block;
	margin : 10px 10%;
	padding : 5px;
}

#logo{
	margin : 20px;
}

#frames{
	font-weight : bold;
}

@media (max-width: 530px) {
	#logo{
		width:70%;
		height:auto;
	}
}

.avatar{
	margin: auto;
	display: block;
}

section{
	
}

#articles{
	width: 70%;
	display:inline-block;
	
}

#limbo{
	background-image: url('img/LimboIconNewLook.webp');
	background-size: 65px 66px;
	background-repeat: no-repeat;
	margin: 0% 0.6%;
	width: 65px;
	height: 66px;
	position:absolute;

	-webkit-transition: width 1s ease-in-out; /* For Safari 3.1 to 6.0 */
    transition: width 1s ease-in-out;
}

#limbo:hover{
	position:absolute;
	background-image : url(img/limbo.gif);
	background-size: 300px 300px;
	z-index:5;
	width: 300px;
	height: 300px;
	border-radius:20px;
}

aside{
	width: 22%;
	display:inline-block;
	float:right;
	vertical-align: top;
	margin:5px;
	padding:5px;
}

.avat-pet{
	max-width:50%;
	height:auto;
	float:right;
	border : 1px solid rgb(130,130,130);
	margin:5px;
}

#kavat{
	max-width: 95%;
	border-radius: 30px;
}

#slider{
	float:right;
	margin:5px;
	width:30%;
	height:300px;
}

#boltorP{
	height:auto;
	max-width:30%;
	float:left;
	z-index:2;
	border : 1px solid rgb(130,130,130);
	margin:5px;
}

#boltorP:hover{
	animation-duration: 0.05s;
	animation-name: dakka;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes dakka {
  from {}

  to {
    transform: translateX(2px) translateY(-7px);
    transform: skewX(1deg) skewY(4deg);
  }
}

#orokincell{
	background-image : url(img/Orokin_Catalyst.png);
	background-size: 125px 80px;
	height : 80px;
	width : 125px;
	float : left;
	z-index : 2;
	border : 1px solid rgb(130,130,130);
	margin: 5px;

	-webkit-transition: background-image 1s; /* For Safari 3.1 to 6.0 */
    transition: background-image 1s
}

#orokincell:hover{
	background-image : url(img/Orokin_Reactor.png);
	background-size: 125px 80px;
}

#grineer{
	height:auto;
	max-width:20%;
	float:right;
	z-index:2;
	border : 1px solid rgb(130,130,130);
	margin:5px;	
}

footer{
	margin : 25px 10%;
	padding : 5px;
}

footer div {
	width:20%;
	border : 1px solid rgb(130,130,130);
	text-align: center;
}

/*-------------LightBox-------------------------------------------*/

#lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    background-color: rgba(0,0,0, 0.80); 
    text-align:center;
    overflow: scroll;
}

#lightbox p {
    margin:20px;
}

#lightbox img {
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    max-width:55%;
}

#desc{
	box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
}

#descTitle{
	text-align:center;
	font-size: 24px;
}