#slider{
	margin:0;
	width:100%;
}

.frost{
	display: block;
    margin-left: 20%;
    margin-right: 20%;
	height : auto;
	max-width : 75%;
	border : 1px solid rgb(130,130,130);
	position:absolute;
}

#frostN{
	z-index: 2;
	clip: rect(0px,500px,500px,90px);
}
#frostP{
	z-index: 3;
	clip: rect(0px,90px,500px,0px);
}